@use"../_mixins"as*;
.employee-list{
  @include container-page;
  &__link{
    @include link-style
  }
  &__controls{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
    width:1200px;
    & label:first-child,
    & label:last-child{
      display:flex;
      gap:5px
    }
    &--bottom{
      align-items:center;
      margin-bottom:0
    }
  }
  br{
    display:none
  }
}
